/* Reset default margin and padding for HTML and body elements */
html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Reset margin, box-sizing, and padding for all elements */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* Style for H2 elements */
h2 {
  margin: 0;
  font-size: 16px;
}

/* Style for unordered lists */
ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

/* Style for list items */
li {
  margin: 1.5em 0;
  padding: 0;
}

/* Style for the "b" element used for event dates/times */
b {
  margin-right: 3px;
}

/* Style for the main container of the demo app */
.demo-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

/* Style for the sidebar of the demo app */
.demo-app-sidebar {
  width: 300px;
  line-height: 1.5;
  border-right: 1px solid #d3e2e8;
}

/* Style for sections within the sidebar */
.demo-app-sidebar-section {
  padding: 2em;
}

/* Style for the main content area of the demo app */
.demo-app-main {
  flex-grow: 1;
  padding: 3em;
  position: relative !important;
}

/* Style for the full calendar (fc) component */
.fc { /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

/* Style for the left panel containing the timeline and events */
.left-panel {
  width: 35%;
  display: flex;
}

/* Style for the left content container */
.left {
  max-width: 400px !important;
}

/* Style for individual event cards */
.card {
  border-left: blue 5px solid;
}

/* Style for spans within the left content */
.left span {
  padding: 5px;
}

/* Style for the "app" container */
.app {
  width: 60%;
}

/* Style for div elements within event cards */
.left .card div {
  padding: 20px;
}

/* Style for the overlay container */
.overlay {
  display: none;
  position: absolute;
  top: -20%;
  color: white;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* Style for the open overlay container */
.overlay.open {
  display: flex;
}

/* Style for the overlay content container */
.overlay-content {
  background-color: #1e7adb;
  padding: 10px;
  border-radius: 5px;
  max-width: 650px;
  max-height: 200px;
  width: 100%;
  text-align: center;
}

/* Style for h2 elements within the overlay */
.overlay h2 {
  font-size: 12px;
  margin-bottom: 10px;
}

/* Style for label elements within the overlay */
.overlay label {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  text-align: left;
}

/* Style for input elements within the overlay */
.overlay input[type="text"],
.overlay input[type="datetime-local"],
.overlay input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for buttons within the overlay */
.overlay button {
  background-color: #ffffff;
  color: rgb(58, 121, 246);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for buttons on hover within the overlay */
.overlay button:hover {
  background-color: #000000;
  color: white;
}

/* Style for individual event cards */
.card {
  padding: 10px;
  margin: 5px;
  color: white;
  background-color: white;
  max-width: 20px;
  cursor: pointer;
  height: 50px;
  margin: 20px;
  display: flex;
}

/* Style for the left panel containing the timeline and events */
.left-panel {
  margin: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

/* Style for the timeline */
.timeline {
  width: 80px; /* Adjust as needed */
  border-left: 1px dotted #353434;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align timeline on the right side */
}

/* Style for individual timeline hours */
.timeline-hour {
  padding: 5px 0;
}

/* Style for the events container */
.events {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding-left: 10px;
  color: white;
  position: relative;
}

/* Style for individual events */
.event {
  padding: 5px;
  position: absolute;
  font-size: 15px;
  right: 0;
  color: black;
  display: flex;
  align-items: center;
}

/* Style for event times */
.event-time {
  font-size: 12px;
}

/* Style for event times within paragraphs */
.event-time p {
  font-size: 13px;
  font-weight: 600;
}

/* Style for event meta information */
.event-meta {
  font-size: 0.8rem;
}

/* Style for the longest events */
.event-type1 {
  border-left: 5px solid rgb(42, 110, 245);
  right: 0;

}
.event-type4 {
  border-left: 5px solid black;
  left: 25%;


}

/* Style for medium duration events */
.event-type2 {
  border-left: 5px solid orange;
  left: 55%;
}

/* Style for lowest duration events */
.event-type3 {
  border-left: 5px solid green;
  left: 40%;
}

/* Style for the longest event when hovered */
.display-event {
  background-color: aliceblue;
  color: black;
}

/* Styles for all events on hover */
.event:hover .event-info {
  display: block;
}

/* Style for the hover effect */
.hover {
  max-width: 20px;
  cursor: pointer;
}

/* Style for the event info container */
.event-info {
  display: none;
  background-color: rgba(0, 0, 0, 0.8); /* Background color for info */
  color: white;
  padding: 5px;
  border-radius: 5px;
  min-width: 150px !important;
  font-size: 12px;
  z-index: 1; /* Ensure it's above other elements */
}
